.not-found-wrapper {
  background: transparent
    url('https://mars-siege-assets.s3.us-west-2.amazonaws.com/bg-planet.jpg')
    fixed no-repeat center / cover;
  h1 {
    font-size: 5rem;
    margin-bottom: 8rem;
  }

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 75vh;
}

.glass-container {
  padding: 2rem;
  max-width: 600px;
  margin: auto;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
