<div class="floating-wrapper">
  <a href="https://www.facebook.com/Mars-Siege-109733388284252" target="_blank">
    <img
      src="https://mars-siege-assets.s3.us-west-2.amazonaws.com/soc-facebook-white.svg"
      alt=""
    />
  </a>
  <a
    href="https://www.youtube.com/channel/UChQXbV483GtoukmRNKQWX5Q"
    target="_blank"
  >
    <img
      src="https://mars-siege-assets.s3.us-west-2.amazonaws.com/soc_youtube-white.svg"
      alt=""
    />
  </a>
  <a href="https://t.me/+PJMSLy1s0ykzNzcx" target="_blank">
    <img
      src="https://mars-siege-assets.s3.us-west-2.amazonaws.com/soc-telegram-white.svg"
      alt=""
    />
  </a>
  <a href="https://discord.gg/FK3nYtXY" target="_blank">
    <img
      src="https://mars-siege-assets.s3.us-west-2.amazonaws.com/soc-discord-white.svg"
      alt=""
    />
  </a>
</div>
