<div class="banner-wapper">
  <app-stars></app-stars>

  <app-header></app-header>
  <!-- 
  <img
    src="https://mars-siege-assets.s3.us-west-2.amazonaws.com/mars-background-transparen.png"
    class="mars-planet"
    alt=""
  /> -->

  <picture class="mars-planet">
    <source
      media="(min-width:768px)"
      srcset="
        https://mars-siege-assets.s3.us-west-2.amazonaws.com/mars-background-transparen.png
      "
    />
    <img
      src="https://mars-siege-assets.s3.us-west-2.amazonaws.com/mars-background-transparent-rpv.png"
      alt="Mars planet"
      width="100%"
    />
  </picture>
  <div class="bottom-gradient"></div>
</div>

<section class="roadmap-wrapper">
  <div class="top-gradient"></div>

  <div class="container my-5 py-5 px-5">
    <app-progress-bar progressTitle="Amount Raised"></app-progress-bar>
  </div>

  <div class="container-fluid g-0">
    <h1 class="text-center mb-5">Road Map</h1>

    <app-timeline></app-timeline>
  </div>
  <div class="bottom-gradient"></div>
</section>

<section id="play" class="mothership-wrapper">
  <div class="container">
    <h1 class="mb-3">Play and Earn</h1>

    <iframe
      class="video-youtube"
      src="https://www.youtube.com/embed/2NUYqYzleZA"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
    <p></p>

    <p>
      Mars Siege is a new type of game, partially owned and operated by its
      players.
    </p>

    <p>
      Earn MARS tokens by playing and use them to decide the future of the game!
    </p>
  </div>
</section>

<!-- Battles -->
<section id="battles" class="white-paper-wrapper">
  <div class="top-gradient"></div>
  <div class="container">
    <h1 class="text-center">Battle</h1>

    <div class="row">
      <div class="col-lg-6">
        <img
          class="w-100"
          src="https://mars-siege-assets.s3.us-west-2.amazonaws.com/home/tanksfinish.png"
          alt=""
        />
      </div>
      <div class="col-lg-6">
        <p class="mt-5">
          Build unstoppable troops, vehicles and aircrafts to conquer your
          enemies!
        </p>

        <p>You can be part of an incredible clan.</p>

        <p>
          Mobilize your army and attack your enemies, prove your strategy skills
          and make history.
        </p>
      </div>
    </div>
  </div>
  <div class="bottom-gradient"></div>
</section>

<section id="land" class="start-wrapper">
  <div class="top-gradient"></div>
  <div class="container text-center">
    <h1>Land</h1>

    <p class="mt-5">
      Mars is divided into tokenized plots of land which act as homes and bases
      of operation for your Army.
    </p>

    <p>
      Buildings can be upgraded over time using a variety of resources and
      crafting ingredients that can be farmed when playing the game.
    </p>

    <img
      class="w-100 floating-image"
      src="https://mars-siege-assets.s3.us-west-2.amazonaws.com/home/terrain-transparent.png"
      alt=""
    />
  </div>
  <div class="bottom-gradient"></div>
</section>

<section id="resources" class="resources-wrapper">
  <div class="top-gradient"></div>
  <div class="container">
    <h1 class="text-center">Resources available in the game</h1>
    <div class="row">
      <div class="col-md-3 text-center">
        <img
          class="w-100 crecent-element"
          src="https://mars-siege-assets.s3.us-west-2.amazonaws.com/water.svg"
          alt=""
        />
        <h5>Water</h5>
      </div>

      <div class="col-md-3 text-center">
        <img
          class="w-100 crecent-element"
          src="https://mars-siege-assets.s3.us-west-2.amazonaws.com/stone.svg"
          alt=""
        />
        <h5>Stone</h5>
      </div>

      <div class="col-md-3 text-center">
        <img
          class="w-100 crecent-element"
          src="https://mars-siege-assets.s3.us-west-2.amazonaws.com/magnetite.svg"
          alt=""
        />

        <h5>Magnetite</h5>
      </div>

      <div class="col-md-3 text-center">
        <img
          class="w-100 crecent-element"
          src="https://mars-siege-assets.s3.us-west-2.amazonaws.com/titanium.svg"
          alt=""
        />
        <h5>Titanium</h5>
      </div>
    </div>
  </div>
  <div class="bottom-gradient"></div>
</section>

<section class="combinate-wrapper">
  <div class="container">
    <h2 class="text-center mb-5">Can i combnate the resources?</h2>

    <div class="row mt-5">
      <div class="col-md-4">
        <div class="engine-wrapper">
          <p class="px-5 text-center">
            For sure! This is another mechanic within the game. Combine
            resources to create new items and buildings.
          </p>
        </div>
      </div>
      <div class="col-md-8 text-center">
        <div class="aircraft-wrapper">
          <img
            class="rolling-lines"
            src="https://mars-siege-assets.s3.us-west-2.amazonaws.com/home/linesanimated.svg"
            alt=""
          />
          <img
            class="stone floating-image"
            src="https://mars-siege-assets.s3.us-west-2.amazonaws.com/stone.svg"
            alt=""
          />
          <img
            class="aircraft floating-image"
            src="https://mars-siege-assets.s3.us-west-2.amazonaws.com/home/aircraft.png"
            alt=""
            srcset=""
          />

          <img
            class="water floating-image-bottom"
            src="https://mars-siege-assets.s3.us-west-2.amazonaws.com/water.svg"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</section>

<section class="donation-wrapper">
  <div class="container">
    <h1 class="text-center">Donations</h1>

    <p class="text-center">We need your support</p>

    <p class="text-center">
      Donate to be among the first to claim a plot of land in our highly
      anticipated world.
    </p>

    <app-donation-packs></app-donation-packs>
  </div>
</section>

<section id="team" class="team-wrapper">
  <div class="container">
    <h1 class="text-center mb-5">Our Team</h1>
    <p class="text-center mb-5">
      A development team passionate about video games and software development
      that, combining their efforts, have created a sustainable method of nft
      gaming
    </p>

    <div class="row justify-content-center">
      <div class="col-md-4 text-center mb-5" *ngFor="let item of team">
        <img
          class="team-img mb-3"
          [src]="
            item.img
              ? item.img
              : 'https://randomuser.me/api/portraits/lego/1.jpg'
          "
          alt=""
        />

        <h4>{{ item.name }}</h4>
        <p>{{ item.job }}</p>

        <div class="team-social">
          <a
            href="{{ item.socialLink }}"
            target="_blank"
            *ngIf="item.socialLink"
          >
            <img
              src="https://mars-siege-assets.s3.us-west-2.amazonaws.com/soc-linkedin-white.svg"
              alt=""
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
